# media configuration
media.statics.js = {{getv "/web/mediaserver/url"}}/html/js

# database configuration
database.driver = mysql
database.url = {{ getv "/web/database/url" }}
database.username={{ getv "/web/database/username" }}
database.password   =   {{ getv "/web/database/password" }}
