<datasource>
   <url>{{getv "/web/database/url"}}</url>
   <username>{{getv "/web/database/username"}}</username>
   <password>{{getv "/web/database/password"}}</password>
   <max-connections>15</max-connections>
</datasource>
